doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendo.common.min.css')
    link(rel='stylesheet', href='/stylesheets/kendo.default.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/kendo.all.min.js')
  body
    block content
    block scripts